* {
    box-sizing: border-box;
  }

  body{
    font-family: Verdana; 
    color: #aaaaaa;
    font-size: 12px;
    background-color:  rgb(26, 26, 26);
  }

  .webGlCanvas{
    margin: 0;
    text-align: center;
    background-color: rgb(26, 26, 26);
  }

  .links {
    display: inline;    
  }

  .links a {
    color: rgb(26, 26, 26);
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .loader {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26, 26, 26);
  }

  .loaderText{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

 .loaderBar{
    margin-top: 20px;
    height: 1px;
    width: 50%;
    background-color: grey;
    border-radius: 1px;
 } 

 .loaderProgress{
  height: 100%;
  width: 0%;
  background-color: white;
  border-radius: 1px;
} 

  